body{
    background-color: white;
}
.bg_color{
    background-color: rgb(233, 233, 0);
}

.home_banner{
    background-image: url('./h-image/homebg.png');
    background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.side_img{
    background-image: url('./h-image/banner-side.png');
    background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.text_color{
  color: rgb(233, 233, 0);
}
.border_color{
  border: 1px solid rgb(233, 233, 0);;
}
.bg2_img{
  background-image: url("./h-image/bgimg2.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
 
}
.bg_color2{
  background-color: rgba(208, 222, 9, 0.5);
}
.bg3_img{
  background-image: url("./h-image/bgimg2.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: bottom right;
}


.slick-arrow.slick-prev:hover{
background-color: black;
}
.slick-arrow.slick-prev{
  background-color: black;
  border-radius: 50%;
}
.slick-arrow.slick-next{
  background-color: black;
  border-radius: 50%;
}
.slick-arrow.slick-next:hover{
  background-color: black;
}
.slick-slide>div{
  margin: 0 10px;
}